/*Header css start*/

.header {
  font-size: 1.45rem;
  position: fixed;
  width: 100%;
  padding: 0 2rem;
  background-color: var(--white);
  z-index: 101;
}

.header_wrapper {
  display: flex;
  align-items: center;
  height: 70px;
  border-bottom: 1px solid var(--grey-light);
  padding: 40px;
}

.header_left {
  display: flex;
  align-items: center;
}

.header_left img {
  height: 5rem;
}

.header_left_list {
  display: flex;
  align-items: center;
  margin-left: 4rem;
  color: var(--grey);
  font-weight: 500;
}

.header_left_list_item {
  display: flex;
  align-items: center;
  margin: 0 10px;
  cursor: pointer;
}
.header_left_list_item:hover{
  color: var(--primary);
}


/*Header css end*/
